@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.dark {
  --background: #15202B;
  --text: #F5F8FA;
}

.light {
  --background: #F5F8FA;
  --text: #14171A;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
